<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!--CGI-->
    <add key="FilePath" value="M:\,G:\"/>
    <add key="SecuredFolderScan" value="JH Secured"/>
    <add key="ReportFolderPath" value="C:\FileWatcher_Reports"/>
    <add key="RetentionYear" value="0"/>
    <add key="ZZ_PreCleanseFolder" value="ZZ_PRECLEANSE"/>
    <add key="ZZ_DeleteFolder" value="ZZ_Delete"/>
    <add key="ZZ_NewFolder" value="ZZ_New"/>
    <add key="ZZ_Secured" value="ZZ_Secured"/>
    <add key="OnlySecuredFolder" value="false"/>
  </appSettings>
</configuration>
<!--PEABODY-->
<!--<add key="FilePath" value="L:\Government Relations"/>
    <add key="SecuredFolderScan" value="JH Secured"/>
    <add key="ReportFolderPath" value="C:\FileWatcher_Reports" />
    <add key ="RetentionYear" value="7"/>
    <add key="ZZ_PreCleanseFolder" value="ZZ_PRECLEANSE"/>
    -->
<!--Gov ZZ_PRECLEANSE
    Legal ZZ_Pre-Cleanse-->
<!--
    <add key="ZZ_DeleteFolder" value="ZZ_Delete"/>
    <add key="ZZ_NewFolder" value="ZZ_New"/>
    <add key="ZZ_Secured" value ="ZZ_Secure"/>
    <add key="OnlySecuredFolder" value="false"/>-->
<!--TEST-->
<!--<add key="FilePath" value="M:\30-Business Solutions\TestSource" />-->
